/* Menu lateral esquerdo */
.container-menu {
  background: #ffffff;
  padding: 20px 15px;
  border-right: 1px solid #e5e5e5;
  max-width: 125px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.container-menu button {
  background: #2ecc71;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
}
  
  .container-menu button:hover {
    background: #86edd3;
  }

  @media (max-width: 768px) {
    .painel-container {
      flex-direction: column;
    }
     
    .container-menu {
      width: 10%;
      flex-direction: column;
      justify-content: space-around;
      box-shadow: none;
    }
  
    .painel-content {
      padding: 1rem;
    }
  }

  @media (max-width: 375px){
    .painel-container {
      flex-direction: column;
    }

  }