@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ruda:wght@400..900&display=swap');
/* CSS Puro - global.css */

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f6f5;
    color: #333;
    background-image: url('fundo.png');
    background-size: cover;
    background-position: center;
  }

  .logopage img{
    margin-left: 50px;
    margin-top: 0;
    height: 130px;
    width: 130px;
    object-fit: cover;
  }
  
  
  h2 { 
    color: #0a3a1e;
    margin-bottom: 20px;
    font-size: 40px;
    text-align: center;

  }
  
  form {
    background-color: #f7eee9;
    padding: 25px 45px 25px 25px;
    border-radius: 20px;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  }
  
  label {
    display: block; 
    margin-top: 15px;
    font-weight: bold;
  }
  
  
  input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .btn-block {
    display: block;
    margin-top: 10px;
    margin: 50px auto; /* espaçamento menor */
    padding: 15px 15px;
    background-color: #2e7d32;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
  }

  .button-submit {
    display: block;
    margin-top: 10px;
    margin: 50px auto; /* espaçamento menor */
    padding: 15px 15px;
    background-color: #1eddad;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
  }
  
  button:hover {
    background-color: #94fdd3;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    background-color: #fff;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  }

  .form-control{
    height: 60px;
    gap:10px;
    width: 96%;
  } 

.p-paragrafo {
  font-size: 20px;
  color: #fff;

}



.btn-block-entrar {
  display: block;
  margin: 35px auto 15px; /* espaçamento menor */
  padding: 15px 25px;
  background-color: #1eddad;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}
.btn-block-google {
  display: block;
  margin: 10px auto; /* espaçamento menor */
  padding: 15px 25px;
  background-color: #1eddad;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}
.btn-block-entrar,
.btn-block-google,
.button-submit,
.button-editar,
.button-excluir{
  width: 100px; /* escolha o tamanho desejado */
}
.button-salve,
.button-editar {
  margin: 5px 20px auto 5px; /* espaçamento menor */
  padding: 15px 25px;
  background-color: #1eddad;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}
.button-cancel,
.button-excluir {
  margin: 10px auto; /* espaçamento menor */
  padding: 15px 25px;
  background-color: #dd241e;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.button-excluir:hover{
  background-color: pink;
}
.button-request {
  margin: 10px auto; /* espaçamento menor */
  padding: 15px 25px;
  background-color: #005fa3;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}
.button-request:hover {
  background-color: #0095ff;
}
.button-form {
  display: block;
  margin: 10px auto; /* espaçamento menor */
  padding: 15px 25px;
  background-color: #1eddad;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}